[submodule "dist/luasdl2"]
	path = dist/luasdl2
	url = https://github.com/Tangent128/luasdl2
[submodule "dist/luafilesystem"]
	path = dist/luafilesystem
	url = https://github.com/keplerproject/luafilesystem
[submodule "lanp"]
	path = lanp
	url = https://github.com/hertz4/lanp
